/*HEADER STYLES*/

.wrapper {
    position: absolute !important;
    transform: translate(-50%, -50% )!important;
    margin-left: 94% !important;
  }
  
  .search-box {
    position: relative !important;
  
  }
  
  .input {
    position: absolute !important;
    top: 5px !important;
    right: 50px !important;
    box-sizing: border-box !important;
    width: 0px !important;
    height: 55px !important;
    padding: 0 20px !important;
    outline: none !important;
    font-size: 18px !important;
    border-radius: 50px !important;
    color: white !important;
    border: 1px solid white !important;
    transition: all 0.8s ease !important;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #757575 grey;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #757575 grey;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #757575 grey;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: #757575 grey;
  }
  
  nav .btn {
    position: absolute !important;
    width: 50px !important;
    height: 50px;
    background: #0093E3 !important;
    border-radius: 50% !important;
    right: 45px !important;
    top: 0px !important;
    cursor: pointer !important;
    text-align: center !important;
    line-height: 50px !important;
    font-size: 24px !important;
    color: white !important;
    transition: all 0.8s ease !important;
  }
  nav .btn:hover {
    background: #0277bd !important;
  }
  #Admn {
      margin-left: 90%;
  }  
  nav #arrow-down {
      margin-top: 15px;
      font-size: 30px;
      
  }
  
  .nav-wapper {
      background: #0093E3 !important;
      color: white !important;
  }
  nav #home {
      width: 50% !important;
  }
  ul .dropdown-list a{
    color: white !important;
  }
  ul .dropdown-list{
    background: #0093E3 !important;
    
  }
  ul .dropdown-list:hover {
  background: #0277bd !important;
  }

#content {
  margin-top: 20px;
  margin-bottom: 200px;
}




  /*STYLES FOR THE FOOTER*/
  #footer{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 4rem !important;
    background: #0093E3 !important;
    text-align: center !important;
    border: 3px solid #0093E3 !important;    
  }
  #footer-icons {
    display: inline-flex;
  }
  ul.socialIcons {
    padding: 0;
    text-align: center;
  }
  
  .socialIcons li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    border-radius: 2em;
    overflow: hidden;
  }
  
  .socialIcons li a {
    display: block;
    padding: 0.5em;
    min-width: 1.28571429em;
    max-width: 2.28571429em;
    height: 2.28571429em;
    white-space: nowrap;
    line-height: 1.5em; /*it's working only when you write text with icon*/
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
  }
  
  .socialIcons li i {
    margin-right: 0.5em;
  }
  
  .socialIcons li:hover a {
    max-width: 200px;
    padding-right: 1em;
  }
  
  .socialIcons .facebook {
    background-color: #3b5998;
    box-shadow: 0 0 16px #3b5998;
  }
  
  .socialIcons .gmail {
    background-color: #00aced;
    box-shadow: 0 0 16px #00aced;
  }
  
  .socialIcons .instagram {
    background-color: #cd486b;
    box-shadow: 0 0 16px #cd486b;
  }
  
  .socialIcons .whatsapp {
    background-color: #1bce89;
    box-shadow: 0 0 16px #1bce89;
  }

  #searh {
    display: inline-block;
    margin-left: 90%;
    margin-top: 10px;
    
}