.footer {
  width: 100vw;
  background-color:#0093E3 ;
  height: 130px;
  margin: 0px;
}
#footer {
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    height: 130px;
    bottom: 0px;
    width: 100vw;
    background-color:#0093E3;
    margin: auto;
  
}

#footer .main-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100px;
    height: 30px;
    color: white;
}
#footer .main-footer  a {
  color:white;
}
#footer .connect {

  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer .connection-message {
    height: 30px;
    color: white;
}
#footer .connection-message {
    text-align: center;
}
#footer .Social-media {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
   
}
/* Social icons */
 ul.socialIcons {
    padding: 0;
    text-align: center;
    margin: auto;
    align-items: center;
  }
  
  .socialIcons li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    border-radius: 2em;
    overflow: hidden;
  }
  
  .socialIcons li a {
    display: block;
    padding: 0.5em;
    min-width: 1.28571429em;
    max-width: 2.28571429em;
    height: 2.28571429em;
    white-space: nowrap;
    line-height: 1.5em; 
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
  }
  
  .socialIcons li i {
    margin-right: 0.5em;
  }
  
  .socialIcons li:hover a {
    max-width: 200px;
    padding-right: 1em;
  }
  
  .socialIcons .facebook {
    background-color: #3b5998;
    box-shadow: 0 0 16px #3b5998;
  }
  
  .socialIcons .gmail {
    background-color: #00aced;
    box-shadow: 0 0 16px #00aced;
  }
  
  .socialIcons .instagram {
    background-color: #cd486b;
    box-shadow: 0 0 16px #cd486b;
  }
  
  .socialIcons .whatsapp {
    background-color: #1bce89;
    box-shadow: 0 0 16px #1bce89;
  }
  