.main-header {
    height: 50px ;
    width: 100%;
    background-color:#0093E3 ;
}   
#header {
    background-color:#0093E3 ;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#menu-button {
    background-color:#0093E3 ;
    color: white;
    padding-left: 0px;
}
#menu-button:hover {
    filter: brightness(80%);
}
#menu-button img {
    color: white;
    
}
#header-title{
    margin-right: 0px;
    padding-right: 0px;
}
#header-title:hover {
    filter: brightness(80%);
}


#header .search-form {
    display: flex;
    justify-content: flex-end;
    background-color:#0093E3 ;
    width: 300px;
    margin-right: 0px;
    height: 50px;
}

#header .search-form input {
    min-width: 160px;
    margin: 5px 0px 7px 7px;
    height: 40px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2em;
}
#search-button {
   width: 100px;
   height: 40px;
   border: 1px solid white;
   border-radius: 5%;
   color: white;
   background-color: #0093E3;
   margin: 5px 10px 7px 5px;

}
 #search-button:hover {
    filter: brightness(80%);
 }
 #search-icon {
    background-color: #0093E3;
    margin: 5px 10px 7px 0px;
    padding-left: 0px;
    color: white;
 }
#search-icon:hover {
    filter: brightness(80%);
}



/* Display search icon only on small screens */
@media only screen and (min-width: 500px) {
    #search-icon {
        display: none;
    }
}

/* Hide  search form on small screens. It will only be displayed on click on Search-icon */
@media only screen and (max-width: 500px) {
    #search-form {
        display: none;
    } 
}
 @media only screen and (max-width: 350px) {
    #header-title {
        margin: 5px 0px 10px 0px;
        padding: 0px;
    } 
    #menu-button {
        padding-left: 0px;
    }
}
 @media only screen and (max-width: 750px) {
    #header-title {
        margin: 5px 0px 10px 0px;
        padding: 0px;
    } 
    #menu-button {
        padding: 0px;
    }
}




/* Side Nav  */
#preload * {
    transition: none !important;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333333;
    display: flex;
}

.header__button {
    flex-shrink: 0;
    background: none;
    outline: none ;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background: #ffffff;
    transform: translateX(-250px);
    transition: transform 0.3s;
    
}

.nav--open .nav__links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none !important;
    padding: 12px 15px;
    background: transform 0.2s;
}

.nav__link > i {
    margin-right: 15px;
}
.nav__link:hover {
    background: #eeeeee;
    color: teal;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}

